@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int index = 1;
}

@model List<Department>

@Html.ActionLink("Add Department","Add","DepartmentHtmlHelper");

 <table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>@department.Name</td>
                <td>@Html.ActionLink("Details","GetDepartmentById","DepartmentHtmlHelper",new {Id = department.Number})</td>
                <td>@Html.ActionLink("Edit","Edit","DepartmentHtmlHelper",new {Id = department.Number})</td>
                <td>@Html.ActionLink("Delete","Delete","DepartmentHtmlHelper",new {Id = department.Number})</td>


            </tr>
        }
    </tbody>
</table>